@use './mixins';

.status {
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}

.status-waiting {
    @extend .status;

    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "main-color");
        text-decoration-color: mixins.theme-based($theme-map, "main-color");
    }
}

.status-opponents-turn {
    @extend .status;

    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "you");
        text-decoration-color: mixins.theme-based($theme-map, "you");
    }
}

.status-your-turn {
    @extend .status;

    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "opponent");
        text-decoration-color: mixins.theme-based($theme-map, "opponent");
    }
}

.status-you-won {
    @extend .status;

    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "win");
        text-decoration-color: mixins.theme-based($theme-map, "win");
    }
}

.status-you-lost {
    @extend .status;

    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "lose");
        text-decoration-color: mixins.theme-based($theme-map, "lose");
    }
}