@use "./color-palette" as palette;
@use "./variables";
@use "sass:map";


@mixin themify($themes: palette.$themes) {
    @each $theme-name, $theme-map in $themes {
        .theme-#{$theme-name} & {
            @content ($theme-map);
        }
    }
}

@function theme-based($theme-map, $key) {
    @return map.get($theme-map, $key);
}

@mixin base-button($key) {
    @include themify using ($theme-map) {
        $color: theme-based($theme-map, $key);
        border-color: $color;

        &:hover {
            color: black;
            background-color: $color;
            // box-shadow: 0 0 10px 5px $color;
            cursor: pointer;
        }
    }

    // background-color: transparent;
    background-color: transparent;
    width: variables.$button-width;
    padding: 10px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: variables.$margin-size;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
}

$ship-border: 2px;

@mixin ship-part-background($key) {
    margin-top: -$ship-border;
    margin-left: -$ship-border;

    @include themify using ($theme-map) {
        $color: theme-based($theme-map, $key);
        background-color: rgba($color, 0.45);
        border: $ship-border solid rgba($color, 0.85);
    }
}