@use "./color-palette" as palette;
@use "sass:map";


@mixin themify($themes: palette.$themes) {
    @each $theme-name, $theme-map in $themes {
        .theme-#{$theme-name} & {
            @content ($theme-map);
        }
    }
}

@function theme-based($theme-map, $key) {
    @return map.get($theme-map, $key);
}

@mixin base-button {
    height: 40px;
    color: inherit;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;

    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;

    transition: all 0.2s ease;

    &:hover {
        cursor: pointer;
    }
}

$ship-border: 1px;

@mixin ship-part-background($key) {
    margin-top: -$ship-border;
    margin-left: -$ship-border;

    @include themify using ($theme-map) {
        $color: theme-based($theme-map, $key);
        background-color: rgba($color, 0.45);
        border: $ship-border solid rgba($color, 0.95);
    }
}