@use "./mixins";

.modal-wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    transform: translateY(-25%);

    @include mixins.themify using ($theme-map) {
        background-color: mixins.theme-based($theme-map, "page-background");
        color: mixins.theme-based($theme-map, "font");
        border: var(--button-border) solid mixins.theme-based($theme-map, "win");
    }

    box-sizing: border-box;
    width: calc(var(--board-size) * 1.5);
    height: calc(var(--board-size) * 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
}

.modal-body {
    text-align: center;
}

.modal-button {
    @include mixins.base-button;

    @include mixins.themify using ($theme-map) {
        background-color: mixins.theme-based($theme-map, "win");
    }

    color: black;

    &:hover {
        background-color: transparent;
        color: white;
    }
}