@use "./variables";
@use "./mixins";
@use "./board";
@use "./modal";
@use "./game";

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

html,
body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;

    @include mixins.themify using ($theme-map) {
        background-color: mixins.theme-based($theme-map, "page-background");
    }
}

*:focus-visible {
    outline: 2px solid white;
}

#app {
    min-height: 100vh;
}

#app>* {
    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "font");
    }

    font-family: monospace;
}


.btn {
    @include mixins.base-button;
}

.btn-primary {
    @include mixins.themify using ($theme-map) {
        $color: mixins.theme-based($theme-map, 'opponent');

        background-color: rgba($color, 0.85);
        border-color: rgba($color, 0.85);
    }
}

.btn-secondary {
    @include mixins.themify using ($theme-map) {
        $color: mixins.theme-based($theme-map, 'opponent');

        background-color: rgba($color, 0.15);
        border-color: rgba($color, 0.85);
    }
}

.btn-primary,
.btn-secondary {
    @include mixins.themify using ($theme-map) {
        $color: mixins.theme-based($theme-map, 'opponent');

        &:hover {
            background-color: $color;
            border-color: $color;
        }
    }
}

.friend-selected {
    width: variables.$button-width !important;
}

.opponent-select>.btn {
    border-radius: 0;
    width: variables.$button-width * 0.5;
}

.opponent-select .btn:first-of-type {
    border-top-left-radius: variables.$button-radius;
    border-bottom-left-radius: variables.$button-radius;
    border-right: 0;
}

.opponent-select .btn:last-of-type {
    border-top-right-radius: variables.$button-radius;
    border-bottom-right-radius: variables.$button-radius;
    border-left: 0;
}

.link-itself {
    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "opponent");
    }

    &:hover {
        cursor: pointer;
    }
}

.circles-to-rhombuses-spinner {
    position: absolute !important;
    top: calc(50% - #{variables.$margin-size});
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}