@use "./variables";
@use "./mixins";
@use "./board";
@use "./modal";
@use "./game";

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

html,
body {
    min-width: fit-content;
    height: 100%;
    margin: 0;
    overflow: auto;

    @include mixins.themify using ($theme-map) {
        background-color: mixins.theme-based($theme-map, "page-background");
    }
}

*,
*:focus,
*:hover {
    outline: none;
}

#app {
    width: inherit;
    // height: inherit;
}

#app>* {
    text-align: center;

    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "font");
    }

    font-family: "Special Elite",
    cursive !important;
    font-size: 1.1em;
    text-transform: uppercase;
}

#app-title {
    margin-top: variables.$margin-size;
    margin-bottom: 2%;
    font-size: variables.$title-font-size;
    text-align: center;
}

#app-title span {
    position: relative;
}

#app-title span:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;

    @include mixins.themify using ($theme-map) {
        background: linear-gradient(90deg, mixins.theme-based($theme-map, "opponent") 50%, mixins.theme-based($theme-map, "you") 50%);
    }
}

.button-1 {
    @include mixins.base-button("opponent");

    @include mixins.themify using ($theme-map) {

        &.selected-opponent,
        &.friend-selected {
            color: black;
            background-color: mixins.theme-based($theme-map, "opponent");
        }
    }

    &.friend-selected {
        width: variables.$board-size !important;
    }
}

.leave-button {
    @include mixins.base-button("opponent");

    @include mixins.themify using ($theme-map) {
        background-color: mixins.theme-based($theme-map, "opponent");
        color: black;

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.opponent-select>.button-1 {
    border-radius: 0;
    width: variables.$button-width * 0.5;
}

.opponent-select .button-1:first-of-type {
    border-top-left-radius: variables.$button-radius;
    border-bottom-left-radius: variables.$button-radius;
    border-right: 0;
}

.opponent-select .button-1:last-of-type {
    border-top-right-radius: variables.$button-radius;
    border-bottom-right-radius: variables.$button-radius;
    border-left: 0;
}

$screen-width: 2 * variables.$board-size + 4 * variables.$margin-size + 15px;
@media screen and (min-width: $screen-width) {
    .leave-button {
        margin-left: variables.$button-width + variables.$margin-size * 2;
    }
}

.link-itself {
    @include mixins.themify using ($theme-map) {
        color: mixins.theme-based($theme-map, "opponent");
    }

    &:hover {
        cursor: pointer;
    }
}

.circles-to-rhombuses-spinner {
    position: absolute !important;
    top: calc(50% - #{variables.$margin-size});
    left: 50%;
    transform: translate(-50%, -50%);
}